<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
<session-factory>
<property name = "hibernate.connection.url">jdbc:mysql://localhost:3306/employeedb</property>
<property name = "hibernate.connection.username">root</property>
<property name = "hibernate.connection.password">1234</property>
<property name = "hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
<property name = "hibernate.show_sql">true</property>
<property name = "hibernate.hbm2ddl.auto">update</property>
</session-factory>
</hibernate-configuration>
